<div class = "chart-container">
<div class = "row">
    <div class = "col-lg-4">
        <h2> Bar Chart</h2>
        <canvas id="barchart">

        </canvas>

    </div>


    <div class = "col-lg-4">
        <h2> Pie Chart</h2>
        <canvas id="piechart">

        </canvas>

    </div>

    <div class = "col-lg-4">
        <h2> Donut Chart</h2>
        <canvas id="donutchart">

        </canvas>

    </div>

    <div class = "col-lg-4">
        <h2> Polar Area Chart</h2>
        <canvas id="pachart">

        </canvas>

    </div>

    <div class = "col-lg-4">
        <h2> Redar Chart</h2>
        <canvas id="redarchart">

        </canvas>

    </div>

    <div class = "col-lg-4">
        <h2> Line Shot Chart</h2>
        <canvas id="lschart">

        </canvas>

    </div>
</div>
</div>